<!-- // officer dashboard;
// in Complain dashboard there is button called 'view' and  variable com_id , by clicking this view button of particular complain the value of 
// com_id = complain_id of this complain.
// also all the complain are inside a form so by clicking any view button form will submit with action = "show_complain"
// after clickin view ,new page will open have button of "working_on_it" ans "solved" and "tranfer" and "send_to_higher authority".
// and every button should inside a form with action of their name and method ="post" in code.
// when officer clicked on transfer button there is opening of new page(transfer.ejs) in which he have to fill other deppt_name(if you want to keep it short)
// otherwise you can ask the details as mentioned in complain register form;
// for now let you asking for all the details of officer,now the form has action called "transfer_confirm"
//  -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..\static\styles\navbar.css">
        <link rel = "stylesheet" href="..\static/styles/officerHome.css">
        <script src="../static/scripts/navbar.js" defer></script>
        <script src="../static/scripts/officerHome.js" defer></script>
        <title>Grievance Portal</title>
    </head>

    <body>
        <nav class="navbar">
            <div class="logo">
                <img src="..\static/images/Logo2.png">
                <p1>Grievance &nbsp</p1> <p2>Portal</p2>
            </div>
            <a href="#" class="toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="index">Logout</a></li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col1">
                <div class="box1">
                    <H1><%= result[0].officer_name%> <br><%= encoding[result[0].lvl - 1]%></H1>
                    <% if(result[0].lvl > 1){%>
                        <p>Click here to add a new officer</p>
                        <a href="officer_register"><button type="button" class="learnMore">Add Officer</button></a>
                    <%}%>    
                </div>
                <!-- <a href="postgrievanceRural"><div class="box2">
                    <p>Post a new Grievance</p>
                    <img src="../static/images/addGrievance.png">
                </div></a>
                <a href="trackgrievance"><div class="box3">
                    <p>Track Grievance</p>
                    <img src="../static/images/trackGrievance.png">
                </div></a> -->
            </div>
            <div class="col2">
                <h4>YOUR DASHBOARD</h4>
                <div class="content">
                    <div class="filters">
                        <select>
                            <option value="status">Status</option>
                            <option value="pending">Pending</option>
                            <option value="solved">Solved</option>
                        </select>
                        <input type="text" name="search" placeholder="Search">
                    </div>
                    <table class="table">
                        <tr class="toprow">
                            <td width="22%"><p>Grievance Number</p></td>
                            <td width="20%"><p>Date Registered</p></td>
                            <td width="28%"><p>Department Name</p></td>
                            <td width="10%"><p>Status</p></td>
                            <td width="19%"><p>View</p></td>
                        </tr>
                        <form action="show_complain" method="post">
                        <input type="text" name="com_id" id="invis">
                        <% for(var i = 0; i<result1.length; i++){ %>
                            <tr class="data" id="<%= i%>">
                                <td width="18%"><p class="greivanceNumber"><%= result1[i].complaint_id%></p></td>
                                <td width="27%"><p id="dateRegistered"><%= result1[i].complaint_date%></p></td>
                                <td width="28%"><p id="department"><%= result1[i].department%></p></td>
                                <% if(result1[i].solved == '1'){ %>
                                    <td width="16%"><button type="button" class="status">Solved</button></td>
                                <% }else{ %>
                                    <td width="16%"><button type="button" class="status">Pending</button></td>
                                <% } %>
                                
                                <td width="16%"><input type="submit" id="view" value="View" onclick ="update(this.parentNode.parentNode)"></td>
                            </tr>
                        <% } %>
                        </form>
                        </table>        
                </div>
            </div>
        </div>
    </body>
</html>